$borderColor: #e7e7e7;

body {
  background-color: #f1f1f1;
}

h1.module-core {
  text-align: center;
  margin-top: 0.5rem;

  font: {
    size: 34px;
    weight: bold;
  }
}

.game-wrapper {
  display: flex;
  width: 100%;
  margin: 0.3rem auto;
  align-items: center;
  justify-content: center;

  .rows {
    border: 1px solid #666;
  }

  ul {
    background-color: #fff;
    font-size: 0;

    li {
      display: inline-block;
      width: 0.25rem;
      height: 0.25rem;
      font-size: 12px;
      text-align: center;
      box-sizing: border-box;

      &.active {
        background: blue;
      }
    }
  }
}